.items-list {
    text-align: justify;
    margin-bottom: 30px;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 1 29%;
    padding: 2px;
    border: 1px solid #333;
    margin-left: 10px;
    margin-bottom: 10px;
}

.img-display {
    width: 100%;
    height: 50%;
    position: relative;
}
.img-display:hover{
    transform: scale(0.5);
}
