
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  max-width: 1200px;  /* Set maximum width */
  margin: 0 auto;     /* Center the container */
  padding: 20px;      /* Add padding inside the container */
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a.active {
  font-weight: bold;
  color: #007bff;
}
