
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
}

body {
  margin: 0;
  height: 100%;
  background-color: #f0f0f0 !important
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.container {
  max-width: 1200px;  /* Set maximum width */
  margin: 0 auto;     /* Center the container */
  padding: 20px;      /* Add padding inside the container */
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.navbar a:hover {
  color: #fff;
  background-color: #36414c;
  border-radius: 5px;
}

.navbar a.active {
  font-weight: bold;
  color: #333;

  border-radius: 5px;
}
