.container_MY {
    text-align: justify;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.img-display {
    width: 30%;
    height: auto;
    position: relative;
}