.items-list {
    text-align: justify;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 1 29%;
    margin: 20px 2%;
    padding: 10px 2%;
    border: 2px solid #333;
}

.img-display {
    width: 30%;
    height: auto;
    position: relative;
}